
$white: #FFFFFF;
$black: #252525;
$card-cover: #6e6969;
$card-question: #da9d64;
$card-answer: #b6e24f;


body {
  padding: 0;
  border: 0;
  margin: 0;
  background-color: $black;
  .box{
      position: absolute;
      height: 100%;
      width: 100%;
      padding: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      div{
        margin: auto;
        width: 50%;
        padding: 10px;
        border: $white solid 3px;
        svg{
          max-width: 800px;
          fill: $white;
        }
      }
	}


  .card{
    background-color: $white;
    border: 4px;
    margin: 5px;
    border-style: solid;
    border-color: darkcyan;
    height: 100px;
    width: 200px;
    display: inline-block;
    &:active{
      transform: rotateY(180deg);
      transition: 3s;
      transform-style: preserve-3d;
      background-color: red;
    }
      .covered{
          background-color: $card-cover;
      }
      .question{
          background-color: $card-question;
      }
      .answer{
        background-color: $card-answer;
      }
  }

  .grid{
    flex-direction: row;

  }
}

#play-button{
	display : block;
	font-size : 75px;
	font-family : sans-serif;
	color : white;
	background-color : #ff6011;
	border : 4px solid white;
	margin : 0 auto;
	box-shadow : 8px 8px 8px #939496;
&:active{
	//TODO bring styles from JS if adequate
		background-color: #993706;
		font-size: 70px;
		color:grey;
		box-shadow: #252525;
		border: 4px solid grey;
	}
}